# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/.idea/misc.xml
/.idea/pierogis-bot.iml
__pycache__/

# Serverless directories
.serverless
config*.yml
/node_modules/
